.cats-enter {
    opacity: 0.01;
}

.cats-enter.cats-enter-active {
    opacity: 1;
    transition: opacity 1500ms ease-in;
}

.cats-leave {
    opacity: 1;
}

.cats-leave.cats-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}


.cats-appear {
    opacity: 0.01;
}

.cats-appear.cats-appear-active {
    opacity: 1;
    transition: opacity 1.5s ease-in;
}

.fa {
  transition: all .1s ease-in-out;
  color: #666;
}

.fa:hover {
  transform: scale(1.5);
  color: #00A58F;
}

.fa:active {
  transform: scale(2.5);
  color: #00A58F;
}

.fa-star {
  color: #00A58F;
}

.fa-star-o:active:before {
  content: "\f005"!important;
}
